.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--page-background-color);
  min-height: 100vh;
  padding: 0 8px;
  background: url('../assets/images/beautiful-milky-way-night-sky.jpg') no-repeat;
}


.app-title{
  color: #fff;
  text-shadow: 2px 2px 10px #000;
}



@media (min-width: 1200px) {
  .app-root {
    background-image: image-set(url('../assets/images/beautiful-milky-way-night-sky--opt.jpg') 1x,
        url('../assets/images/beautiful-milky-way-night-sky.jpg') 2x,
      );
  }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
  .app-root {
    background-image: image-set(url('../assets/images/beautiful-milky-way-night-sky--opt-1.jpg') 1x,
        url('../assets/images/beautiful-milky-way-night-sky--opt.jpg') 2x,
      );
  }
}